* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.center-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
}
.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.title {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 16px;

  /* line-height: 32px; */
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.list-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.list-1-text {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 12px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}

/*task-3*/
.task-3_container {
  width: 408px;
  height: 136px;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
}
#name-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
#name-output {
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.hero_task-3 {
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form {
  padding: 24px;
  width: 408px;
  height: 256px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.form-label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.btn {
  width: 86px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.widget {
  border-radius: 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.change-color {
  width: 148px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.color-text-5 {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
