* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.center-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
}
.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.title {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 16px;

  /* line-height: 32px; */
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.list-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.list-1-text {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 12px;
}
